<div class="home">
  {{#each data.results}}
  <a href="/movie/{{id}}">
    <section>
      <header>
        <img src="https://image.tmdb.org/t/p/w500{{poster_path}}"/>
        <h1>{{original_title}}</h1>
      </header>
      <p>{{overview}}</p>
      <p>{{vote_average}}</p>
    </section>
  </a>
  {{/each}}
</div>
